{% extends 'base.html' %}

{% block header %}

{% endblock header %}

{% block content %}


<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for post in posts_list%}
        <div class="col">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <p class="h5">{{post.user}}</p>
                    <p class="small text-muted text-end align-bottom">{{post.posted_at}}</p>
                    <hr />
                    <p>{{post.text}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}